
body {
    background-color: #F5A936;
}
#guitar-looper{
    width: 190px;
    margin-top: 30px;
    margin-left: 10px;
}

#fuzz-pedal{
    margin-top: 200px;
    margin-left: 330px;
    width: 189px;

}


#what-is{
    text-align: left;
    width: 300px;
    margin-left:310px;
    border-style: inset;
    border-color:#2dd4dc;
   margin-bottom:0px;
}

#delay{
    width: 189px;
    margin-right: 50px;
    border-style: inset green;
    margin-left: 10px;
}


#looper {
    color: black;
    width: 300px;
    border: solid green;
    padding: 10px;
    margin: 10px;
    margin-top: 200px;
}

#my-delay{
    color: #6f0000;
    width:309px;
    margin-right: 50px;
    border-style: inset;
    border-width: 10px;
    border-color: #2C3639;
    margin-left:10px;
}
#boss-pedal{
   width: 400px;
   margin-left: 300px;
   padding-bottom: 50px;
}
#d-1-boss{
  border-style: outset;
  border-color:red;
  width:200px;
  margin-left: 500px;

}

/* Style the tab buttons */
.tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }

  li {
    float: left;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;