h1 {
    color: blue ;
    text-align: center;
    border-style:dashed;


}
body {
    background-image: url(https://wallpapercave.com/wp/wp10891584.jpg) ;

}
#guitar-looper{
    width: 190px;
    margin-top: 130px;
    margin-left: 10px;
}
#fuzz-pedal{

    margin-bottom: 30px;
    margin-left: 330px;
    width: 189px;
}

#what-is{
    color: #ACDDDE;
    width: 300px;
    border: solid red;
    padding: 5px;
    margin: 10px;
}

#delay{
    width: 189px;
}


#looper {
    color: black;
    width: 300px;
    border: solid green;
    padding: 10px;
    margin: 10px;
}