h1 {
    color: blue ;
    text-align: center;
    border-style:dashed;


}
body {
    background-color:#509DAA ;
}
#guitar-looper{
    width: 190px;
    margin-top: 130px;
}
#fuzz-pedal{
    margin-bottom: 15px;
    width: 189px;
}

#what-is{
    color: #853f03;
}

#{

}