h1 {
    color: blue ;
    text-align: center;
    border-style:solid;
    border-color: red;
  background-image: url("https://thumbs.gfycat.com/BitesizedNextGavial-size_restricted.gif") ;
  opacity: 0.5;
  overflow:hidden;
}
body {
    background-image: url("https://c0.wallpaperflare.com/preview/1014/118/359/red-white-and-black-pedal-guitar-distortion-pedal.jpg") ;
    opacity: 1.0;
}
#guitar-looper{
    width: 190px;
    margin-top: 130px;
    margin-left: 10px;
}
#fuzz-pedal{

    margin-bottom: 30px;
    margin-left: 330px;
    width: 189px;
}

#what-is{
    color: #ACDDDE;
    width: 300px;
    border: solid red;
    padding: 5px;
    margin: 10px;
    background-image: url()
}

#delay{
    width: 189px;
}


#looper {
    color: black;
    width: 300px;
    border: solid green;
    padding: 10px;
    margin: 10px;
}