h1 {
    color: 	#360000 ;
    text-align: center;
    border-style:solid;
    background-color: #267A9E;
    border-color: red;
    width: 570px;
    margin: auto;
}
body {
    background-color: #F5A936;
}
#guitar-looper{
    width: 190px;
    margin-top: 130px;
    margin-left: 10px;
}
#fuzz-pedal{

    margin-bottom: 70px;
    margin-left: 330px;
    width: 189px;
}

#what-is{
    color: #2D2424;
    width: 300px;
    border: solid red;
    padding: 5px;
    margin-bottom: 10px;
}

#delay{
    width: 189px;
    margin-right: 50px;
    border-style: inset green;
}


#looper {
    color: black;
    width: 300px;
    border: solid green;
    padding: 10px;
    margin: 10px;
}

#my-delay{
    color: #6f0000;
    width:309px;
    margin-right: 50px;
    border-style: inset;
    border-width: 10px;
    border-color: #2C3639;
}