h1 {
    color: 	#360000 ;
    text-align: center;
    border-style:solid;
    background-color: #267A9E;
    border-color: red;
    width: 570px;
    margin: auto;
}
body {
    background-color: #F5A936;
}
#guitar-looper{
    width: 190px;
    margin-top: 130px;
    margin-left: 10px;
}
#fuzz-pedal{
    margin-bottom: 90px;
    margin-left: 330px;
    width: 189px;
    border-bottom: 70px;
}

#what-is{
    text-align: left;
    width: 300px;
    margin-left:310px;
    border-style: inset;
    border-color:#2dd4dc;
   margin-bottom:90px;
}

#delay{
    width: 189px;
    margin-right: 50px;
    border-style: inset green;
    margin-left: 10px;
}


#looper {
    color: black;
    width: 300px;
    border: solid green;
    padding: 10px;
    margin: 10px;
}

#my-delay{
    color: #6f0000;
    width:309px;
    margin-right: 50px;
    border-style: inset;
    border-width: 10px;
    border-color: #2C3639;
    margin-left:10px;
}
#boss-pedal{
   width: 400px;
   margin-left: 300px;
   padding-bottom: 50px;
}
#d-1-boss{
  border-style: outset;
  border-color:red;
  width:200px;
  margin-left: 500px;

}
