h1 {
    color: blue ;
    text-align: center;
    border-style:dashed;


}
body {
    background-image: url(https://c1.wallpaperflare.com/preview/534/14/425/pedals-effects-electric-guitar.jpg) ;



}
#guitar-looper{
    width: 190px;
    margin-top: 130px;
}
#fuzz-pedal{
    margin-bottom: 15px;
    width: 189px;
}

#what-is{
    color: yellow;
}

#delay{
 
}


#looper {
    color: green;
    width: 300px;
    border: solid green;
    padding: 10px;
    margin: 10px;
}